


.header-custom {
width: 100%;
    height: 694px;
    background: url(../img/header.jpg);
        background-size:cover;
        background-repeat: no-repeat; 
        margin-left: 0px;
        margin-bottom: 30px;
}

.site-logo {
position: absolute;
    margin-left: 100px;
   top: 50px;
   margin-top: 0px;
   font-size: 30px;
   text-transform: uppercase;
   font-family: RoadSkin;
   color: yellow;
}

.site-cons-top {
color: yellow;
float: right;
margin-right: 100px;
font-size: 30px;

}
.site-cons-top.hover{
    color: black;
    font-size: 40px;
}

.header-text {

    margin-left:10%;
    position: absolute;
    top: 300px;
   font-size: 50px;
   text-transform: uppercase;
   color: yellow;
    /*font-family: KTF-Roadbrush; */
    font-family: monoton;


}



.header-text-small {
  margin-left:500px;
    position: absolute;
    top: 80px;
   font-size: 40px;
   text-transform: uppercase;
   color: yellow;
  font-style: italic;
  font-family: monoton;
}

.btn-1 {
width: 170px;
z-index: 50;
position: absolute;
left:30px;
top: 150px;
border:2px yellow solid;
cursor: pointer;
background: transparent;
text-align: center;
text-transform: uppercase;
color: yellow;
font-size: 20px;
padding: 12px 24px;
    margin:4px 16px;
 font-family: KTF-Roadbrush

}
.btn-2 {
width: 170px;
z-index: 50;
position: absolute;
left:800px;
top: 150px;
border:2px yellow solid;
cursor: pointer;
background: black;
text-align: center;
text-transform: uppercase;
color: yellow;
font-size: 20px;
padding: 12px 24px;
margin:4px 16px;
 font-family: KTF-Roadbrush

}


.btn-1:hover{
 border: 2px solid #000;
    outline: 0;
    color: yellow;
    background-color: #000;
}

.btn-2:hover{
 border: 2px solid #000;
    outline: 0;
    color: black;
    background-color: yellow;

}
.side-banner {
width: 170px;
z-index: 50;
position: absolute;
left:1215px;
top: 250px;
border:2px yellow solid;
cursor: pointer;
background: transparent;
text-align: center;
text-transform: uppercase;
color: yellow;
font-size: 20px;
padding: 12px 24px;
   /* Rotate div */
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
    font: xx-small;
}


#slideout {
  background: #fff;
  box-shadow: 0 0 5px rgba(0,0,0,.3);
  color: #333;
  position: fixed;
  top: 100px;
  left: -520px;
  width: 500px;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
#slideout form {
  display: block;
  padding: 20px;
}
#slideout textarea {
  display:block;
  height: 100px;
  margin-bottom: 6px;
  width: 250px;
}
#slideout.on {
  left: 0;

}.about-us {
    width: 100%;
    height: 300px;
    background: url(../img/bg-about.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.facts-c{
  background: red;
    height: 300px;
    margin: 0px;
}

.facts-b{
  background: yellow;
    height: 300px;
    margin: 0px;
}
.facts-a{
  background: green;
    height: 300px;
    margin: 0px;
}




.section {
width: 100%;

}

.hdr-custom {
margin-left: 50%;
top: 30px;
padding-top: 60px;
color: yellow;
}

.hdr-custom-text {
color: yellow;
text-align: center;
font-size: 20px;


}
